<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'SERIES.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onAddSerie()">
        <ion-icon name="add-outline"></ion-icon>
        {{ 'SERIES.ADD_BUTTON' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [placeholder]="'SERIES.SEARCH_PLACEHOLDER' | translate"
  ></ion-searchbar>

  <ion-list>
    <ng-container *ngFor="let serie of _series | async; let i=index">
      <!-- Vista para web -->
      <ion-item *ngIf="isWeb">
        <ion-avatar slot="start" #avatar>
          <img [src]="serie.picture?.url || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
        </ion-avatar>
        <ion-label>
          <h2>{{serie.name}}</h2>
          <p>{{serie.rating}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="openSerieDetail(serie, i)">
            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="onDeleteSerie(serie)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <!-- Vista para móvil -->
      <ion-item *ngIf="!isWeb">
        <ion-avatar slot="start" #avatar>
          <img [src]="serie.picture?.url || 'https://ionicframework.com/docs/img/demos/avatar.svg'" />
        </ion-avatar>
        <ion-label>
          <h2>{{serie.name}}</h2>
          <p>{{serie.rating}}</p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="openSerieDetail(serie, i)">
            <ion-icon name="create-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="onDeleteSerie(serie)">
            <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
