<ion-app>
   <!-- Menú lateral -->
   <ion-menu #menu side="start" menuId="mainMenu" contentId="mainContent" [disabled]="!(authSvc.authenticated$ | async)" >
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'MENU.TITLE' | translate }}</ion-title>
        <ion-fab slot="end">
          <ion-fab-button size="small">
            <ion-icon name="language-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button (click)="changeLanguage('es')" [color]="currentLang === 'es' ? 'primary' : 'medium'">
              <ion-text>ES</ion-text>
            </ion-fab-button>
            <ion-fab-button (click)="changeLanguage('en')" [color]="currentLang === 'en' ? 'primary' : 'medium'">
              <ion-text>EN</ion-text>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="menu.close()" routerLink="/home" routerDirection="root">{{ 'MENU.HOME' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/seasons" routerDirection="root">{{ 'MENU.SEASONS' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/series" routerDirection="root">{{ 'MENU.SERIES' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" routerLink="/profile" routerDirection="root">{{ 'MENU.PROFILE' | translate }}</ion-item>
        <ion-item (click)="menu.close()" *ngIf="(authSvc.authenticated$ | async)" (click)="logout()" button>{{ 'MENU.LOGOUT' | translate }}</ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <!-- Avatar del usuario -->
            <img [src]="'https://ionicframework.com/docs/img/demos/avatar.svg'" alt="Avatar" />
          </ion-avatar>
          <ion-label>
            <!-- Nombre del usuario -->
            <h3>{{ (authSvc.user$ | async)?.name}}</h3>
          </ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>
