div.register-container {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 16px; /* Espaciado para evitar bordes ajustados */
    overflow-y: auto; /* Permitir scroll vertical si el contenido crece */
  }
  
  form {
    width: 100%;
    max-width: 400px;
    height:100%;
    margin:1em;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
  }
  ion-item{
    margin-bottom:10px;
  }
  ion-text.input-error{
    margin-top:-10px;
  }
  
  