<div id="popover-button" #popoverButton>
  <div style="display:flex" class="ion-justify-content-between ion-align-items-center">
    <div style="display:flex" class="ion-justify-content-start ion-align-items-center">
      <ion-text *ngIf="!serieSelected && !disabled">{{ 'SERIE_SELECTABLE.SELECT_SERIE' | translate }}</ion-text>
      <ion-text *ngIf="!serieSelected && disabled">{{ 'SERIE_SELECTABLE.NONE' | translate }}</ion-text>
      <ion-avatar class="ion-margin-end" slot="start" *ngIf="serieSelected" >
        <ion-img *ngIf="serieSelected.picture" [src]="serieSelected.picture"></ion-img>
        <img *ngIf="!serieSelected?.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar> 
      <ion-text *ngIf="serieSelected">{{serieSelected.name}}</ion-text>
    </div>
    <ion-icon name="chevron-down-outline" color="medium"></ion-icon>
  </div>
  <ion-popover class="selectable-popover" style="width:100%" *ngIf="!disabled" trigger="popover-button" #popover (willPresent)="onLoadSeries()">
    <ng-template>
      <ion-content class="popover-content">
        <ion-list class="list-scrollable">
          <div class="fixed-search">
            <ion-item>
              <ion-input #search [placeholder]="'SERIE_SELECTABLE.SEARCH' | translate" type="text" (ionInput)="onFilter($event)" debounce="200"></ion-input>
              <ion-button color="medium" slot="end" fill="clear" (click)="clearSearch(search)"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
            </ion-item>

          </div>
          <div class="scrollable-content">
            <ion-item button (click)="deselect(popover)">
              <ion-avatar slot="start">
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar> 
              <ion-text >{{ 'SERIE_SELECTABLE.NONE' | translate }}</ion-text>
            </ion-item>
            <ion-item *ngFor="let serie of series$ | async" button (click)="onSerieClicked(popover, serie)">
              <ion-avatar slot="start">
                <ion-img *ngIf="serie.picture" [src]="serie.picture"></ion-img>
                <img *ngIf="!serie.picture" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar> 
              <ion-text >{{serie.name}} </ion-text>
            </ion-item>
            <ion-infinite-scroll (ionInfinite)="onMoreSeries($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          
          </div>
          
          
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>


